.m-header {
  $root: &;

  height: 100vh;
  background: 
  // linear-gradient(
  //     to right bottom,
  //     rgba(#1c9ec5, 1),
  //     rgba(#0cd8b6, 0.5)
  //   ),
    url("assets/image/header-bg-3.jpeg") no-repeat;
  // background: linear-gradient(
  //     170deg,
  //     rgba(12, 50, 128, 0.8) 20%,
  //     rgba(9, 34, 83, 0.5) 20%,
  //     rgba(14, 17, 24, 0.5) 35%,
  //     rgba(41, 48, 61, 0.6) 35%,
  //     rgba(41, 48, 61, 0.8) 45%,
  //     rgba(31, 63, 128, 0.5) 45%,
  //     rgba(26, 43, 78, 0.8) 75%,
  //     rgba(13, 13, 58, 0.5) 75%
  //   ),
  //   linear-gradient(
  //       45deg,
  //       rgba(20, 24, 31, 0.8) 0%,
  //       rgba(41, 48, 61, 0.8) 50%,
  //       rgba(82, 95, 122, 0.8) 50%,
  //       rgba(133, 146, 173, 0.8) 100%
  //     )
  //     #313949;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: rgba(180, 176, 176, 0.986);
  display: flex;
  justify-content: center;
  align-items: center;
  &__circle1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: calc(50% - 300px);
    background: rgba(253, 253, 253, 0.651);
    box-shadow: 0 0 50px white;
  }
  &__glass-bg-1,
  &__glass-bg-2,
  &__glass-bg-3,
  &__glass-bg-4 {
    height: 350px;
    width: 200px;
    position: absolute;
    background: linear-gradient(
      to left bottom,
      rgba(white, 0),
      rgba(#ffffff, 0.5)
    );
    border-radius: 1em;
    transform-style: preserve-3d;
    backdrop-filter: blur(5px);
    left: 8%;
    top: 25%;
    transform: perspective(800px) rotateY(30deg);
  }
  &__glass-bg-2 {
    left: 12%;
    top: 32%;
  }
  &__glass-bg-3,
  &__glass-bg-4 {
    transform: perspective(800px) rotateY(-30deg);
    background: linear-gradient(
      to right bottom,
      rgba(white, 0),
      rgba(#ffffff, 0.5)
    );
  }
  &__glass-bg-3 {
    left: 78%;
  }
  &__glass-bg-4 {
    top: 32%;
    left: 74%;
  }
  &__content {
    display: flex;
    padding-top: 120px;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 35%;
    position: relative;
    background: linear-gradient(
      to right bottom,
      rgba(white, 0),
      rgba(white, 0.2)
    );
    border-radius: 1em;
    backdrop-filter: blur(07px);
    transform-style: preserve-3d;
    transition: all 0.3s;
  }
  &__hello {
    font-size: 20px;
  }
  &__name {
    margin: 50px 0 40px 0;
    font-size: 40px;
    font-weight: 400;
    #{$root}__first-name {
      color: rgb(11, 19, 88);
      margin-right: 20px;
    }
  }
  &__profession {
    display: flex;
    align-items: center;
    color: black;
    span {
      margin-right: 10px;
      margin-bottom: 50px;
    }
  }
  &__profession-name {
    font-size: 25px;
    font-weight: 500;
  }
}
