.o-about {
  $root: &;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 120px 5vw;
  &__rocket-image {
    position: absolute;
    height: 312px;
    left: 0%;
    top: 5%;
  }
  &__mars-image {
    position: absolute;
    height: 500px;
    right: -15%;
    bottom: 0;
  }
  &__content {
    position: relative;
    height: 523px;
    display: flex;
    #{$root}__about-me,
    #{$root}__technical-skills {
      background: rgba(#29292d, 0.46);
      backdrop-filter: blur(20px);
      border-radius: 30px;
      width: 50%;
      height: 100%;
      padding: 3vw;
    }
    #{$root}__about-me {
      margin-right: 50px;
      margin-bottom: 50px;
      #{$root}__about-me-content {
        @include setFont(var(--font18));
      }
    }
    #{$root}__technical-skills {
      #{$root}__technical-skills-content {
        @include setFont(var(--font18), 26px);
        overflow-y: scroll;
        height: 350px;
        padding: 0 10px;
        box-shadow: inset 0px 10px 10px rgba(#29292d, 1),
          inset 0px -10px 10px rgba(#29292d, 1);
        border-radius: 40px;
        #{$root}__technical-skills-title {
          border: 1px solid $white;
          border-radius: 40px;
          width: fit-content;
          padding: 5px 30px;
          margin: 20px 0;
        }
        #{$root}__technical-skills-items {
          margin-left: 20px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__about-me-header,
  &__technical-skills-header {
    width: 100%;
    @include setFont(40px);
    text-align: center;
    margin-bottom: 30px;
  }
}
