.a-nav-item {
  @include setFont(16);
  //   display: block;
  padding: 9px 30px;
  text-decoration: none;
  color: $white;
  background: rgba($white, 0.14);
  border-radius: 40px;
  &--active {
    background: linear-gradient(90deg, #b81e1e, #7a0776);
  }
}
