.a-nav-item {
  display: inline-block;
  padding: 9px 30px;
  text-decoration: none;
  color: $white;
  background: rgba($white, 0.14);
  border-radius: 40px;
  @include setFont(var(--font18));
  &--active {
    background: linear-gradient(90deg, #b81e1e, #7a0776);
  }
  &--read-more {
    background: linear-gradient(90deg, #088fba, #9506c7);
  }
}
