@import "variable.scss";
@import "mixin.scss";
@import "font.scss";
@import "../../pages/**/*.scss";
@import "../../components/**/**/*.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background: url("assets/image/bg.svg");
  background-attachment: fixed;
  color: white;
  font-family: "roboto";
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
