@import "../../pages/**/*.scss";
@import "../../components/**/**/*.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "shadows into light";
  background: url("assets/image/scenery.jpeg") no-repeat center;
  background-size: contain;
}
