.m-header {
  height: 60px;
  position: relative;
  padding-top: 11px;
  background: rgba($white, 0.15);
  backdrop-filter: blur(9px);
  text-align: right;
  transform-origin: top;
  -webkit-transform-origin: top;
  > .a-nav-item {
    margin-right: 20px;
  }
}
